Fluxos-Node/fluxo_dashboard.json
[{"id":"79312c45.2c97a4","type":"tab","label":"Fluxo de DashBoard","disabled":false,"info":""},{"id":"d771dc40.c56dc","type":"ui_text","z":"79312c45.2c97a4","group":"3cbfff20.618ab","order":2,"width":0,"height":0,"name":"","label":"Dados Recebidos:","format":"{{msg.payload}}","layout":"col-center","x":441.5,"y":89,"wires":[]},{"id":"f208cb83.687bf8","type":"ui_text_input","z":"79312c45.2c97a4","name":"","label":"Nome","tooltip":"Entrada de dados com o nome do usuário","group":"3cbfff20.618ab","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","topicType":"msg","x":235.5,"y":141,"wires":[["d771dc40.c56dc"]]},{"id":"f9b0c6b3.9f07d8","type":"ui_slider","z":"79312c45.2c97a4","name":"","label":"Entrada de Dados","tooltip":"","group":"3cbfff20.618ab","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"x":198.5,"y":309,"wires":[["7e19d2ed.c0d6ac","3e8049b2.e1c5d6","b667d18b.0066c"]]},{"id":"7e19d2ed.c0d6ac","type":"ui_gauge","z":"79312c45.2c97a4","name":"","group":"3cbfff20.618ab","order":3,"width":0,"height":0,"gtype":"gage","title":"Valor Exibido","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":432.5,"y":279,"wires":[]},{"id":"3e8049b2.e1c5d6","type":"ui_chart","z":"79312c45.2c97a4","name":"","group":"3cbfff20.618ab","order":4,"width":0,"height":0,"label":"Dados Recebidos","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":458.5,"y":389,"wires":[[]]},{"id":"b667d18b.0066c","type":"switch","z":"79312c45.2c97a4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":373.5,"y":527,"wires":[["6aa5541e.237a9c"]]},{"id":"6791ec24.897224","type":"ui_toast","z":"79312c45.2c97a4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":591.5,"y":580,"wires":[]},{"id":"6aa5541e.237a9c","type":"change","z":"79312c45.2c97a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Valor da Entrada Acima do Limite","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400.5,"y":652,"wires":[["6791ec24.897224"]]},{"id":"3cbfff20.618ab","type":"ui_group","name":"Group 1","tab":"a7c79888.58b288","order":1,"disp":true,"width":6},{"id":"a7c79888.58b288","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]